/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
*{
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
	text-decoration: none;
	margin: 0;
	padding: 0;
}
body, label, header, main, footer, button{
	padding: 0;
	margin: 0;
}
ul {
    padding-left: 0;
}

.posts a{
	color: #000;
	text-decoration: none;
}
.posts a:hover{
	color: #3b82f6;
	transition: 0.3s ease;
}
.date{
	display: block;
	font-size: 0.75rem;
    padding: 0.5rem 0;
}
.cover_image img:hover{
	scale: 1.2;
	transition: 0.3s ease;
}
.cover_image{
	height: 170px;
	overflow: hidden;
	background-color: rgb(255, 255, 255);
	border-radius: 0.3rem;
}
.cover_image img{
	background-size: contain !important;
}
.very-small{
	font-size: 0.7rem;
}
@media only screen and (max-width:  1124px){
	.cover_image{
		height: auto;
	}
}
.dynamic-block > div {
    display: none; /* preview hanya muncul di editor, tidak di website */
}